.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  column-gap: 1px;
  width: 70%;
}
h3, h4{
    margin: 2px;
    max-width: 700px;
}
mat-expansion-panel-header, mat-expansion-panel, mat-panel-title{
    background-color: rgb(131, 131, 131);     color: rgb(224, 223, 223);
}