  <h2 style="margin-top: 100px; ">Professional Experience</h2>
  <img src = 'https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/305967780_474817037991825_2360561635160835747_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=HC7Y9D_DtzUAX92__wI&_nc_ht=scontent-atl3-1.xx&oh=00_AfCaJ30Q9rLMRtQ4XsXKwGRrCtqYat9uN9ZZDQFHQ3_Hfw&oe=6547B582' width="100" height="100" style="margin-top: -10px; margin-bottom: -10px;">
  <h3>QA Analyst </h3>
    <h4>Unite Digital - Remote | June 2023 - October 2023 | Contract</h4>
  <p>
•	Designed automation test scripts with TypeScript along with Mocha, Chai, WebdriverIO, and Axios to validate UI features and RESTful APIs to ensure quality releases of Bakkt's crypto trading platform. <br>
•	Facilitated the migration of data from Azure to GCP and legacy features by completing 100+ E2E regression tests including non-functional requirements like security, compliance, performance, and risk. <br>
•	Queried data on Azure SQL DB to remove test blockers and to ensure accurate updates to user data storage.<br>
•	Investigated and reported CI/CD pipeline failures, error logs, and critical bugs to developers that led to a 20% decrease in software defects.
</p>
<br>
<img src="https://22005419.fs1.hubspotusercontent-na1.net/hubfs/22005419/Bakkt%20Logo.png" width="100" height="35" style="margin-bottom: 10px;">
<h3>Software Engineer III </h3>
<h4>Bakkt - Alpharetta, GA | February 2022 - March 2023</h4>
<p>
• Designed automation test scripts with TypeScript along with Mocha, Chai, WebdriverIO, and Axios to validate UI features and RESTful APIs to ensure quality releases of Bakkt's crypto trading platform. <br>
• Facilitated the migration of data from Azure to GCP and legacy features by completing 100+ E2E regression tests, including non-functional requirements like security, compliance, performance, and risk. <br>
• Queried data on Azure SQL DB to remove test blockers and to ensure accurate updates to user data storage. <br>
• Investigated and reported CI/CD pipeline failures, error logs, and critical bugs to developers that led to a 20% decrease in software defects.
</p>
<br>
    <h3>iOS Developer </h3>
    <h4>Freelance - Remote | July 2021 - March 2022 | Contract</h4>

<p>
• Discussed client’s requested application UI/features and designed the prototype of an iOS event hosting application inspired by Airbnb Experiences. <br>
• Developed front-end features in Swift and worked with back-end engineers to integrate Firebase/Cloud Firestore for authentication and user data. <br>
• Alpha tested with TestFlight to validate UI design and report bugs to the client.
</p>
