* {
  box-sizing: border-box;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
.column {
  float: left;
  width: 100px;
  padding-top: 10px;
  padding: 5px;
  height: 150px;
  text-align: center;
}

.row{
  margin-left: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 10px;
}
p{
    margin-top: 0;
}
