
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
.column {
  float: left;
  width: 100px;
  padding-top: 10px;
  padding: 5px;
  height: 150px;
  text-align: center;
  
}

.row{
  margin-left: 3%;
  margin-top: 1%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 10px;
}
p{
    font-size: small;

}
span{
  color: rgb(224, 223, 223);
}

.vertical-tabs {
  display: flex;
  flex-direction: row;
}

.vertical-tabs .mat-tab-labels {
  display: flex;
  flex-direction: column;
  max-width: 200px; /* Set a max-width for labels */
  border-right: 1px solid #e0e0e0; /* Optional: adds a border between labels and content */
}

.vertical-tabs .mat-tab-label {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}

.mat-tab-group.mat-stretch-tabs .mat-tab-labels .mat-tab-label {
  justify-content: flex-start;
}

.mat-tab-body-wrapper {
  width: 100%;
}
