<app-toolbar></app-toolbar>
<div class="content" role="main" style="margin-top: 10%;">
<h2>About Me</h2>
<p style="margin-bottom: 15px; font-size: medium;">I'm a passionate software engineer with a passion for development in
  various disciplines including test automation, web development, and AI/ML. I'm committed to tackling a wide range of
  software challenges.
</p>
</div>
<div class="content" role="main">
  <app-skills></app-skills>
</div>
<div class="content" role="main">
  <app-experience></app-experience>
</div>
<div class="content" role="main">
  <app-projects></app-projects>
</div>